#Ignore actual game data and also the sample
database/quiz_game.db
database/sample_quiz_data.db

#Ignore python cache files
__pycache__/

#virtual environment files
venv/

#VS Code Settings
.vscode/

#Mac OS system file
.DS_Store

#Environment files
.env